<form style="margin: 50px" #customerForm="ngForm" ngForm>
  
  <div style="padding-left: 20px">
    <label for="userName">Please enter the name *</label>&nbsp;
    <input
      id="userName"
      placeholder="Please Enter name"
      type="text"
      name="userName"
      ngModel
      required
      #localUserName="ngModel"
    />
    <!-- 
   touched,untouched,pristine,dirty,valid,invalid
-->
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span
      *ngIf="localUserName.touched && localUserName.invalid"
      style="color: red"
    >
      Please enter your Name</span
    >
  </div>

  <div style="padding-left: 20px">
    <label for="useremail">Please enter the Email *</label>&nbsp;
    <input
      id="useremail"
      placeholder="Please Enter Email"
      type="text"
      name="useremail"
      ngModel
      required
      #localUserEmail="ngModel"
      email
    />
    <!-- 
   touched,untouched,pristine,dirty,valid,invalid, errors

    localUserEmail.errors?     required  invalid
    localUserEmail.errors?    email     emailformat
-->
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span
      *ngIf="localUserEmail.touched && localUserEmail.errors?.['required']"
      style="color: red"
    >
      Please enter your Email</span
    >

    <span
    *ngIf="localUserEmail.touched && localUserEmail.errors?.['email']"
    style="color: red"
    >
    Please enter your Email Format</span>
  </div>

  <div style="padding-left: 20px">
    <label for="usercomments">Please enter the Your comments *</label>&nbsp;
    <textarea
      id="usercomments"
      placeholder="Please Enter your comments"
      type="text"
      name="usercomments"
      ngModel
      required
      #localUsercomments="ngModel"
      minlength="5"
    >
  </textarea>
    <!-- 
   touched,untouched,pristine,dirty,valid,invalid, errors

    localUserEmail.errors?     required  invalid
    localUserEmail.errors?    email     emailformat
-->
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span
      *ngIf="localUsercomments.touched && localUsercomments.errors?.['required']"
      style="color: red"
    >
      Please enter your comments</span
    >

    <span
    *ngIf="localUsercomments.touched && localUsercomments.errors?.['minlength']"
    style="color: red"
    >
    Please enter alteast 5 Charcters</span>
  </div>

  <div style="margin: 20px">
    <button [disabled]="customerForm.invalid" (click)="evtSubmit()">Submit</button>
  </div>
</form>
